[access "refs/*"]
        owner = group android_device_oneplus_cheeseburger_dumpling
                label-Verified = -1..+1 group android_device_oneplus_cheeseburger_dumpling
	forgeAuthor = group android_device_oneplus_cheeseburger_dumpling
	forgeCommitter = group android_device_oneplus_cheeseburger_dumpling
	forgeServerAsCommitter = group android_device_oneplus_cheeseburger_dumpling
	push = +force group android_device_oneplus_cheeseburger_dumpling
	pushMerge = group android_device_oneplus_cheeseburger_dumpling
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
